global:
  imageTag: 73bdf1d
  environment: prod
web:
  replicaCount: 2
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 10
coreApi:
  replicaCount: 3
  autoscaling:
    enabled: true
    minReplicas: 3
    maxReplicas: 20
externalSecrets:
  session:
    secretKey: "mosaic/prod/session/secret-key"
